<!DOCTYPE html>
<html lang="en" ng-app="angularCV">
<head>
    <title>
        Alistair Broomhead CV
    </title>
    <link rel="stylesheet" type="text/css" href="cv.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="controllers.js"></script>
</head>
<body ng-controller="cvController as ctrl">
<div id="top">
    <div id="title">
        Alistair Broomhead
    </div>
    <div id="contact">
        <div>
            <a href="https://github.com/alistair-broomhead">
                github.com/alistair-broomhead
            </a>

            <div>
                <div>
                    Flat 3, Nesham House, London, N1 5LY
                </div>
            </div>

        </div>
        <div>
            <a href="mailto:theheadofabroom@outlook.com">
                theheadofabroom@outlook.com
            </a>

            <div>
                <div>
                    07816880592
                </div>
            </div>

        </div>
    </div>
</div>
<div id="content">

    <div class="card padded">
        <div>
            <p ng-repeat="qual in qualifications">
                <b>{{qual.title}}</b> - {{qual.description}}
            </p>
        </div>
    </div>
<!--<div class="card padded">
    <p ng-repeat="para in opening_statement"> {{para}} </p>
</div>-->
<div id="activities" class="section">
    <div>Career outlook</div>

    <div class="card">
        <div>
            <span ng-repeat="para in personal_statement"
                  ng-bind-html-unsafe="para"></span>
        </div>
    </div>
</div>
<div id="experience" class="section">
    <div>
        Professional experience and abilities
    </div>

    <div id="{{role.id}}" class="card" ng-repeat="role_name in role_order" ng-init="role=roles[role_name]">
        <div class="role-heading">
            <span class="left">{{ role.company }}</span>
            <span class="centre">{{ role.title }}</span>
            <span class="right">{{ role.start }} to {{ role.end }}</span>
        </div>
        <div class="role-description">
            <div class="prose">
                <div ng-repeat="para in role.description track by $index"
                     ng-bind-html-unsafe="para"></div>
            </div>
            <div class="jargon">
                <h4>Skills:</h4>
                <span ng-repeat-start="skill in role.skills">{{skill}}<i>, </i></span><b ng-repeat-end> </b>
            </div>
            <div class="jargon">
                <h4>Technologies:</h4>
                <span ng-repeat-start="tech in role.technologies">{{tech}}<i>, </i></span><b ng-repeat-end> </b>
            </div>
        </div>
    </div>
</div>
<div id="education" class="section">
    <div>
        Qualifications and professional activities
    </div>

    <div class="card">
        <div>
            <p ng-repeat="act in professional_activities">
                <span>{{act.title}}</span> - {{act.description}}
            </p>
        </div>
    </div>
</div>
</div>
</body>
</html>
