body {
  font-family: Verdana, Geneva, sans-serif;
  text-align: left;
  font-size: 17px;
  border-radius: 2px;
  background: #ececec;
}
.with-shadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.fallback-shadow {
  box-shadow: 0 0 1px #2b2b2b, 0 1px 2px #151515;
}
#top {
  color: white;
  background-color: #4285f4;
}
#top #title {
  font-size: 2em;
  font-weight: bold;
}
#top #contact {
  line-height: 1.5;
  top: 0;
  border-radius: 2px;
  padding: 2px 4px;
  margin: 10px 3% 10px 0;
  min-width: 550px;
  max-width: 800px;
  width: 50%;
  float: right;
  display: block;
  color: #212121;
}
@media screen {
  #top {
    box-sizing: border-box;
    top: 0;
    z-index: 2;
    width: 104%;
    min-width: 1000px;
    position: fixed;
    left: -2%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  }
  #top #contact {
    background-color: white;
  }
  #top #contact > div {
    display: block;
  }
  #top #contact > div a:link,
  #top #contact > div a:visited {
    float: left;
    color: #212121;
  }
  #top #contact > div > div {
    float: right;
  }
  #top #title {
    display: inline-block;
    min-width: 190px;
    padding: 0 4px 0 3%;
    margin: 18px 0;
  }
}
@media print {
  #top .fallback-shadow #contact {
    width: 100%;
  }
}
card {
  float: none;
  display: block;
  background-color: white;
  color: #212121;
  clear: both;
  overflow: auto;
  border-radius: 2px;
  margin: 15px 0 15px;
  line-height: 1.9;
}
@media screen {
  card {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    padding: 0 10px;
  }
  card > div {
    padding: 10px 6px 6px;
  }
}
@media print {
  card {
    line-height: 1.2;
    box-shadow: 0 0 1px #2b2b2b, 0 1px 2px #151515;
    padding: 0 10px;
  }
}
.justified {
  text-align: justify;
}
section {
  z-index: 0;
  box-sizing: border-box;
  padding: 4px 0 1px;
  position: relative;
  border-radius: 2px;
  margin-bottom: 25px;
}
section > * {
  z-index: 1;
}
section h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin: 8px 4px 4px;
  color: #990000;
}
section sheet {
  position: absolute;
  top: 0;
  display: block;
  z-index: -1;
  margin: 15px 2% 25px;
  width: 96%;
  height: 100%;
  background-color: #cccccc;
}
#content {
  display: block;
  margin: 20px;
  position: absolute;
  top: 66px;
  padding-top: 6px;
  line-height: 2;
}
#content #experience .role-heading {
  border-bottom: 1px solid #e5e5e5;
  font-weight: bold;
  align-content: center;
  text-align: center;
  overflow: auto;
  clear: both;
  border-radius: 2px;
}
#content #experience .role-heading .left {
  float: left;
}
#content #experience .role-heading .right {
  float: right;
}
#content #experience .role-heading .centre {
  display: inline;
}
#content #experience .role-description {
  border-spacing: 8px;
}
#content #experience .role-description .prose {
  text-align: justify;
  float: left;
  width: 73%;
  margin: 8px 0;
}
#content #experience .role-description .jargon {
  float: right;
  width: 23%;
}
#content #experience .role-description .jargon h4 {
  line-height: 0;
}
#content #experience .role-description .jargon b {
  visibility: hidden;
  height: 0;
  width: 0;
}
#content #experience .role-description .jargon keyword {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  white-space: nowrap;
  padding: 2px;
  line-height: 2em;
}
#content #experience .role-description .jargon keyword ::after {
  margin-right: auto;
}
#content #experience .role-description .jargon p {
  font-weight: bold;
}
