@import "theme";
@import "material";

@first-screen-break: 720px;
@last-screen-break: 575px;

.section(@background-colour: #ddd; @heading-colour: @secondary-colour);

#top {
  .top-bar(@primary-colour);

  #title {
    display: inline-block;
    min-width: 180px;

    font-size: 2em;
    font-weight: bold;

    @media screen {
        padding: 0 4px 0 3%;
        margin: 18px 0;
    }

    @media screen and (max-width: @first-screen-break) {
        font-size: 1.5em;
    }

    @media screen and (max-width: @last-screen-break) {
        display: flex
    }

    @media print {
        padding: 0;
        margin: 8px;
        font-size: 1.5em;
    }
  }

  #contact {
    display: inline-block;
    top: 0;
    border-radius: 2px;
    padding: 2px 4px;
    margin: 10px 3% 10px 0;
    min-width: 430px;
    float: right;
    line-height: 1.5;

    & > div {
      display: block;

      & > div {
        float: right;

        @media print {
            & > div {
                margin-right: 8px;
            }
        }
      }
    }

    @media screen {
        background-color: @lightened;
    }
    @media screen and (max-width: @first-screen-break) {
        min-width: 350px;
        font-size: 80%;
    }

    @media print {
        font-size: 8pt;
        min-width: 350px;
        margin: 0 0 0 160px;
        background-color: @primary-colour-light;

    }
  }
}

#content {
  position: relative;
  margin: 0 auto;
  top: 66px;

  .card {
    background-color: @text-background;
    color: @text-main;
    clear: both;
    overflow: auto;
    border-radius: 2px;

    @media screen {
      margin: 10px -20px;
      .with-shadow;
    }
  }

  @media screen {
    width: 650px;
  }

  @media screen and (max-width: @first-screen-break) {
    top: 60px
  }

  @media screen and (max-width: @last-screen-break) {
    margin: 0;
  }

  .role-heading {
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
    align-content: center;
    text-align: center;
    overflow: auto;
    clear: both;
    border-radius: 2px;
  }
  .prose {
    top: 33px;
    float: left;
    width: 70%;
    border-radius: 2px;
  }
  .role-description {
    position: relative;
    padding: 4px;
    top: -20px;
  }
  .jargon {
    text-align: left;
    float: right;
    width: 26%;
    line-height: 0;
    margin-bottom: 10px;
    border-radius: 2px;
  }
  @media screen {
    .padded {
      padding: 0 16px;
    }

    .prose {
      margin-top: 16px;
      padding: 8px;
      width: 68%;
      position: static;
      display: block;
      .with-shadow;
    }

    .jargon {
      margin-top: 16px;
      margin-bottom: 0;
      padding: 4px;
      box-shadow: rgba(0, 0, 0, 0.156863) 0 0 6px 0, rgba(0, 0, 0, 0.317647) 0 6px 12px 0;
    }

    .jargon span {
      box-shadow: rgba(0, 0, 0, 0.156863) 0 0 2px 0, rgba(0, 0, 0, 0.317647) 0 2px 4px 0;
      margin: 4px;
      white-space: nowrap;
      line-height: 2em;
    }

    .card > div {
      padding: 10px 6px 6px;
    }
  }
  .jargon span {
    /*jont-weight: bold;*/
    line-height: 1.7;
    margin: 3px;
    padding: 2px;

  }
  .jargon p {
    font-weight: bold;
  }
  #education span {
    font-weight: bold;
    line-height: 0;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .centre {
    display: inline;
  }
  @media print {

    .prose {
      margin-top: 10px;
    }

    .jargon {
      margin: 12px 0 0;
    }

    .card {
      page-break-inside: avoid;
    }

    .role-heading {
      margin-bottom: 8px;
      padding: 0 8px;
    }

    #content {
      margin: 0;
      background: none;
      top: 0;
    }
  }
}

/* Generic */
body {
  font-size: 82.5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: justify;
  border-radius: 2px;
  @media screen {
    background: #ececec;
  }
  @media print {
    margin: 0;
  }
}

@media print {
  p {
    margin: 8px;
  }
}
