@primary-colour: #4285f4;
@heading-colour: #990000;


@text-background: white;
@text-main: #212121;

@contact-background: white;
@contact-text: @text-main;

@card-divider: 1px solid #e5e5e5;
@page-background: #ececec;
@section-background: #cccccc;

@sheet-indent: 5%;
@between-sheets: 25px;
@between-cards: 15px;

@first-screen-break: 720px;
@last-screen-break: 575px;

body {
  font-family: Verdana, Geneva, sans-serif;

  text-align: left;
  font-size: 17px;

  border-radius: 2px;
  background: @page-background;
}

.with-shadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.fallback-shadow {
  box-shadow: 0 0 1px #2b2b2b, 0 1px 2px #151515;
}

#top {
  color: white;
  background-color: @primary-colour;

  #title {
    font-size: 2em;
    font-weight: bold;
  }

  #contact {
    line-height: 1.5;
    top: 0;
    border-radius: 2px;
    padding: 2px 4px;
    margin: 10px 3% 10px 0;
    min-width: 550px;
    max-width: 800px;
    width: 50%;
    float: right;

    display: block;
    color: @contact-text;

  }


  @media screen {
    box-sizing: border-box;
    top: 0;
    z-index: 2;
    width: 104%;
    min-width: 1000px;

    position: fixed;

    left: -2%;

    #contact {
      background-color: @contact-background;

      & > div {
        display: block;

        a:link, a:visited {
          float: left;
          color: @contact-text;
        }

        & > div {
          float: right;
        }
      }
    }

    #title {
      display: inline-block;
      min-width: 190px;


      padding: 0 4px 0 3%;
      margin: 18px 0;
    }

    .with-shadow;
  }

  @media print {
    .fallback-shadow

    #contact {
      width: 100%;
    }
  }
}

card {
  float: none;
  display: block;


  background-color: @text-background;
  color: @text-main;
  clear: both;
  overflow: auto;

  border-radius: 2px;
  margin: 15px 0 @between-cards;
    line-height: 1.9;

  @media screen {
    .with-shadow;
    padding: 0 10px;
    & > div {
      padding: 10px 6px 6px;
    }
  }
  @media print {
    line-height: 1.2;
    .fallback-shadow;
    padding: 0 10px;
  }

}

.justified {
  text-align: justify;
}



section {

  z-index: 0;
  & > * {
    z-index: 1;
  }

  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin: 8px 4px 4px;
    color: @heading-colour;
  }

  sheet {
    position: absolute;
    top: 0;
    display: block;
    z-index: -1;
    margin: 15px 2% @between-sheets;
    width: 96%;
    height: 100%;
    background-color: @section-background;
  }

  box-sizing: border-box;
  padding: 4px 0 1px;
  position: relative;
  border-radius: 2px;
  margin-bottom: @between-sheets;
}


#content {
  display: block;

  margin: 20px;
  position: absolute;
  top: 66px;


  padding-top: 6px;
  line-height: 2;


  #experience{

    .role-heading {
      border-bottom: @card-divider;
      font-weight: bold;
      align-content: center;
      text-align: center;
      overflow: auto;
      clear: both;
      border-radius: 2px;

      .left {
        float: left;
      }
      .right {
        float: right;
      }
      .centre {
        display: inline;
      }
    }
    .role-description {
      border-spacing: 8px;


      .prose {
        .justified;
        float: left;
        width: 73%;
        margin: 8px 0;
      }
      .jargon {
        float: right;
        width: 23%;

        h4 {
          line-height: 0;
        }
        & b {
          visibility: hidden;
          height: 0;
          width: 0;
        }
        keyword {

          .with-shadow;
          white-space: nowrap;
          padding: 2px;
          line-height: 2em;

          ::after {
            margin-right: auto;
          }


        }
        & p {
          font-weight: bold;
        }
      }
    }
  }
}
