@import "theme";
@import "material";

.section(@background-colour: @section-background;
         @heading-colour: @secondary-colour);

#top {
  .top-bar(@primary-colour);

  #title {
    display: inline-block;
    min-width: 190px;

    font-size: 2em;
    font-weight: bold;

    @media screen {
      padding: 0 4px 0 3%;
      margin: 18px 0;
    }

    @media screen and (max-width: @first-screen-break) {
        font-size: 1.5em;
    }

    @media screen and (max-width: @last-screen-break) {
        display: flex
    }

    @media print {
        padding: 0;
        margin: 8px;
        font-size: 1.5em;
    }
  }

  #contact {
    display: inline-block;
    top: 0;
    border-radius: 2px;
    padding: 2px 4px;
    margin: 10px 3% 10px 0;
    min-width: 430px;
    float: right;
    line-height: 1.5;

    & > div {
      display: block;

      & > div {
        float: right;

        @media print {
            & > div {
                margin-right: 8px;
            }
        }
      }
    }

    @media screen {
        background-color: @lightened;
    }
    @media screen and (max-width: @first-screen-break) {
        min-width: 350px;
        font-size: 80%;
    }

    @media print {
        font-size: 8pt;
        min-width: 350px;
        margin: 0 0 0 160px;
        background-color: @primary-colour-light;

    }
  }
}

#content {
  position: relative;
  margin: 0 auto;
  top: 66px;

  @media screen {
    width: 650px;
    line-height: 1.3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  }
  @media screen and (max-width: @first-screen-break) {
    top: 60px
  }

  @media screen and (max-width: @last-screen-break) {
    margin: 0;
  }

  @media print {
    margin: 0;
    background: none;
    top: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  #experience{
    .role-heading {
      border-bottom: @card-divider;
      font-weight: bold;
      align-content: center;
      text-align: center;
      overflow: auto;
      clear: both;
      border-radius: 2px;

      @media print {
        margin-bottom: 8px;
        padding: 0 8px;
      }

      .left {
        float: left;
      }
      .right {
        float: right;
      }
      .centre {
        display: inline;
      }
    }
    .role-description {
      position: relative;
      padding: 4px;
      top: -20px;

      .prose {
        top: 33px;
        float: left;
        border-radius: 2px;

        @media screen {
          margin: 4px;
          margin-top: 24px;
          padding: 0 8px;
          width: 68%;
          position: static;
          display: block;
          .with-shadow;
        }

        @media print {
          margin-top: 10px;
          width: 77%;
        }
      }
      .jargon {
        text-align: left;
        float: right;
        margin-bottom: 10px;
        border-radius: 2px;

        h4 {
          line-height: 0;
        }

        @media screen {
          width: 26%;
          margin: 4px;
          margin-top: 24px;
          margin-bottom: 0;
          padding: 4px;
          .with-shadow;
        }

        @media print {
          width: 23%;
          margin: 12px 0 0;
        }
        & b {
          visibility: hidden;
          height: 0;
          width: 0;
        }
        & span {
          margin: 0 0 0 12px;
          white-space: nowrap;

          @media screen {
          padding: 2px;
            .with-shadow;
            margin: 4px;
            line-height: 2em;

            i {
              display: none;
              visibility: hidden;
              height: 0;
              width: 0;
            }
          }
          @media print {
            min-width: 30%;
            max-width: 90%;
          }
        }
        & > :last-of-type i {
              display: none;
              visibility: hidden;
              height: 0;
              width: 0;
        }
        & p {
          font-weight: bold;
        }
      }
    }
  }

  #education span {
    font-weight: bold;
    line-height: 0;
  }

  .card {
    .card(@background-colour: @text-background;
          @text-colour: @text-main);

    & > div {
      @media screen {
        padding: 10px 6px 6px;
      }
    }
  }
  .padded {
    @media screen {
      padding: 0 16px;
    }
  }
}

/* Generic */
body {
  font-size: 82.5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: justify;
  border-radius: 2px;
  @media screen {
    background: @page-background;
  }
  @media print {
    margin: 0;
  }
}

p {
  @media print {
    margin: 8px;
  }
}
